<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
    <link href="css/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section id="app">
        <h3 v-bind:title="title">{{ title }}</h3>
        <fieldset>
            <legend>Binding & conditions</legend>
            <button v-on:click="startCounter">
                Start counter
            </button>
            <button v-on:click="stopCounter">
                Reset counter
            </button>
            &nbsp;&nbsp;
            <span>{{ counter }}</span>
            Counter is
            <b v-if="counter % 2 !== 0">ODD</b>
            <b v-if="counter % 2 === 0">EVEN</b>
        </fieldset>

        <fieldset>
            <legend>Tow-way binding</legend>
            <input v-model="userForm.nom" type="text" placeholder="Nom" />
            <input v-model="userForm.prenom" type="text" placeholder="Prénom" />
            <input v-model="userForm.birth" type="date" placeholder="Date de naissance" />
            <input v-model="userForm.tel" type="tel" placeholder="Tél" />
            <input v-model="userForm.email" type="email" placeholder="Email" />
            <input v-model="userForm.adresse" type="text" placeholder="Adresse" />
            <button v-on:click="addMember">
                <b v-if="userForm.guid">
                    Edit Member <i>{{ userForm.nom }}</i>
                </b>
                <b v-if="!userForm.guid">
                    Add Member <i>{{ userForm.nom }}</i>
                </b>
            </button>
        </fieldset>

        <fieldset>
            <legend>Loop</legend>
            <section class="members-list">
                <article v-for="(member, guid) in members"
                         v-on:dragenter="imgDragOver($event, member, guid)"
                         v-on:dragover="imgDragOver($event, member, guid)"
                         v-on:dragleave="imgDragLeave($event, member, guid)"
                         v-on:drop="imgDrop($event, member, guid)"
                         v-bind:class="{ highlighted : member.highlighted }"
                >
                    <span class="icon close" v-on:click="removeMember(guid)"></span>
                    <span class="icon edit" v-on:click="editMember(guid, member)"></span>
                    <img v-bind:src="member.avatar"
                         v-on:click="imgChoose(guid)"
                    />
                    <input type="file"
                           style="display: none;visibility: hidden;"
                           v-bind:guid="guid"
                           v-on:change="imgUpload($event, member, guid)"
                    />
                    <h4>
                        <b>{{ member.prenom }} {{ member.nom }}</b>
                    </h4>
                    <span v-if="member.birth">{{ new Date().getFullYear() - new Date(member.birth).getFullYear() }} ans</span>
                    <div>
                        <label><u>Contact</u> : </label>
                        <div>{{ member.tel }}</div>
                        <div>{{ member.email }}</div>
                        <div>{{ member.adresse }}</div>
                    </div>
                </article>
            </section>
        </fieldset>

    </section>

    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-storage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/app.js"></script>
</body>
</html>